@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playwrite+ES+Deco:wght@100..400&display=swap');
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

@layer tailwind-base, reset, primeng, tailwind-utilities;

@layer tailwind-base {
    @tailwind base;
}

@layer tailwind-utilities {
    @tailwind components;
    @tailwind utilities;
}

@layer reset {
    button:focus {
        box-shadow: none;
    }
}


body {
    font-family: "Montserrat", sans-serif;
    height: 100vh;
}



.custom-input {
    @apply p-3 w-full rounded-sm focus:ring-0  text-base outline-none transition-colors duration-200 ease-in-out
}

.custom-input-blue {
    @apply  focus:ring-blue border border-blue focus:border-blue 
}

.custom-input-white {
    @apply  focus:ring-white border border-white focus:border-white 
}

.custom-btn {
    @apply text-white  px-5 rounded  flex justify-center cursor-pointer
}

.checkbox {
    @apply size-6 rounded-lg border-2 border-blue
}

.badge {
    @apply  px-4 rounded-lg
}

.badge-start {
    @apply bg-red-200 text-red-600 border border-red-default
}

.badge-finish {
    @apply bg-green-200 text-green-600 border border-green-default
}

.active {
    @apply bg-blue p-2 text-white font-bold
}